@model IEnumerable<michaeltroth.blog.Models.Blog>

@{
    ViewBag.Title = "View1";
}

<h2>Manage Blog Entries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Publish Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
           @item.PublishDate.ToShortDateString()
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
            @Html.ActionLink("Delete", "Delete", new { id= item.Id })
        </td>
    </tr>
}

</table>
